---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/120.120.222.92?access_key=ad54d9a3666cfa23b77978a77b2b70ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - c6de051f-e1e6-4756-9d72-1f7fe260d647
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '827'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.029'
    body:
      encoding: UTF-8
      string: '{"ip": "120.120.222.92", "type": "ipv4", "continent_code": "AS", "continent_name":
        "Asia", "country_code": "TW", "country_name": "Taiwan", "region_code": "CYI",
        "region_name": "Taiwan", "city": "Taipei", "zip": "106", "latitude": 25.0310001373291,
        "longitude": 121.54299926757812, "location": {"geoname_id": 1668341, "capital":
        "Taipei", "languages": [{"code": "zh", "name": "Chinese", "native": "\u4e2d\u6587"}],
        "country_flag": "https://assets.ipstack.com/flags/tw.svg", "country_flag_emoji":
        "\ud83c\uddf9\ud83c\uddfc", "country_flag_emoji_unicode": "U+1F1F9 U+1F1FC",
        "calling_code": "886", "is_eu": false}}'
  recorded_at: Tue, 19 Dec 2023 21:34:33 GMT
recorded_with: VCR 6.2.0
