---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/235.231.148.219?access_key=ad54d9a3666cfa23b77978a77b2b70ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - c2f748a8-f407-4630-8fc0-4465915136c3
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '823'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.025'
    body:
      encoding: UTF-8
      string: '{"ip": "235.231.148.219", "type": "ipv4", "continent_code": null, "continent_name":
        null, "country_code": null, "country_name": null, "region_code": null, "region_name":
        null, "city": null, "zip": null, "latitude": 0.0, "longitude": 0.0, "location":
        {"geoname_id": null, "capital": null, "languages": null, "country_flag": null,
        "country_flag_emoji": null, "country_flag_emoji_unicode": null, "calling_code":
        null, "is_eu": null}}'
  recorded_at: Tue, 19 Dec 2023 21:52:53 GMT
recorded_with: VCR 6.2.0
