---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/www.google.com?access_key=ad54d9a3666cfa23b77978a77b2b70ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 7bb9fa64-9a2e-42e6-8746-3490b910d051
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '826'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.032'
    body:
      encoding: UTF-8
      string: '{"ip": "142.251.111.105", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "Mountain View", "zip": "94043",
        "latitude": 37.419158935546875, "longitude": -122.07540893554688, "location":
        {"geoname_id": 5375480, "capital": "Washington D.C.", "languages": [{"code":
        "en", "name": "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Tue, 19 Dec 2023 21:34:33 GMT
recorded_with: VCR 6.2.0
